{% extends 'base.html' %}

{% block title %}
<title>LMS - Rgister Page</title>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="password" />
    <label for="email">email</label>
    <input type="email" name="email" id="email" />
    <label for="password">password</label>
    <input type="password" name="password" id="password"/>
    <button type="submit">Sign up</button>
    
</form>

{% endblock %}