{% extends 'base.html' %}

{%  block content %}
    {% if not book %}
        <h2> Create Book</h2>

        <form action="{% url 'books.create' %}"class="form col-md-6" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Book Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>


    {% else %}
        <h2> Update Book </h2>
        
        <form action="{% url 'books.update' book.id %}" class="form col-md-6" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Book Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{book.title}}" >
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    {% endif %}

{% endblock %}