{% extends 'base.html' %}

{%  block content %}
    {% if not book %}
        <h2> Create Book</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="title">Book Name</label>
            <input type="text" name="title">
            <button type="submit">create</button> 
        </form>
    {% else %}
        <h2> Update Book </h2>
        <form action="{% url 'books.update' book.id %}" method="POST">
            {% csrf_token %}
            <label for="title">Book Name</label>
            <input type="text" name="title" value="{{book.title}}">
            <button type="submit">Update</button> 
        </form>
    {% endif %}

{% endblock %}