{% extends 'base.html' %}

{% block title %}
    <title> LMS - Books List</title>
{% endblock %}

{% block content %}
    <h1>Books</h1> 
    {% if login %}
    <a href="{% url 'books.create' %}"> <button> Create </button></a>
    {% endif %}
    {% if list_books %}
    <table>
        {% for book in list_books %}
        <tr>
            <td>{{book.title}}</td>
            {%  if login %}
            <td> <a href="{% url 'books.update' pk=book.id %}"> <button>update</button></a></td>
            <td> <a href="{% url 'books.delete' pk=book.id %}"> <button>delete</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h4> No Books Available</h4>
    {% endif %}
{% endblock %}